// 主题样式修改 https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
.textleft .ant-form-item-label{
  text-align: left;
}
.basic-tack .ant-form-item-children{
  display: flex;
}
.basic-tack .ant-input-group-addon, .ant-input-group-wrap{
  width: auto;
  line-height: 30px;
  box-sizing: border-box;
}
.basic-tack .ant-input-number-input{
  border-radius: 0;
  border:none;
}
.basic-tack .ant-input-number{
  border-radius: 0;
}
.basic-tack .has-error .ant-input-group-addon{
  color: rgba(0, 0, 0, 0.65);
  border-color: #d9d9d9;
  background-color: #fafafa;
}
