// common
.common-full {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.common-width100 * {
  width: 100% !important;
}
.common-alert-bg {
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.common-img-bg {
  background-color: #f3f3f3;
  background-image: url("../../images/common_prepare_img.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70%;
}
.common-loading {
  animation: rotate360 4s infinite linear;
}

.common-c {
    color: red
}