$icomoon-font-path: "../../fonts" !default;

$i-loading: \e97c;
$i-out: \e918;
$i-used: \e919;
$i-back: \e91a;
$i-share: \e927;
$i-reduce: \e90a;
$i-star-o: \e90e;
$i-add: \e900;
$i-address: \e901;
$i-left: \e902;
$i-business: \e903;
$i-close: \e904;
$i-completed: \e905;
$i-comment: \e906;
$i-tag: \e907;
$i-delete: \e908;
$i-edit: \e909;
$i-star: \e90b;
$i-fail: \e90c;
$i-right: \e90d;
$i-tag-o: \e90f;
$i-more: \e910;
$i-order: \e911;
$i-recommend: \e912;
$i-group: \e913;
$i-success: \e914;
$i-phone: \e915;
$i-clock: \e916;
$i-wechat: \e917;
